@model WksJobsMvc.Models.JobItemDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobItemDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemNetTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemNetTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
